{{title}}
<img src='{{titan.image}}'/>
{{#each choice}}
  <form action='/quiz/question/{{../titan.id}}/{{this}}' method='post'>
  <button type='submit'>{{this}}</button>
</form>
{{/each}}

<a href='/'>Home</a>

